{% extends 'starter-page.html' %}


{% block main %}
<div class="container d-flex flex-column justify-content-center  vh-100">
<h1 class="mb-3 ">Log in</h1>
    <form action="" method="post">
    {% csrf_token %}
    
        <label for="" class="form-label">Username</label>
        {{form.username}}
        <label for="" class="form-label">Password</label>
        {{form.password}}
        <label for="" class="form-label">User Type</label>
        {{form.usertype}}
        
        <input type="submit" class="btn btn-success mt-3">
    
</form>
</div>

{% endblock %}