{% extends 'starter-page.html' %}

{% block main %}
<div class="container mt-5 d-flex flex-column justify-content-center align-items-cente">
    <h2 >USER REGISTRATION</h2>
        <form action="" method="post">
        {% csrf_token %}
        <div class="d-flex flex-column justify-content-center">
            <label for="" class="form-label mt-3">Name</label>
            {{form.first_name}}
            <label for="" class="form-label">Username</label>
            {{form.username}}
            <label for="" class="form-label">Password</label>
            {{form.password}}
            <label for="" class="form-label">Email ID</label>
            {{form.email}}
        </div>
        <input type="submit" class="btn btn-success mt-3">
        
    </form>
    <p class="pt-3 mb-5">Already registered ? click <a href="{% url 'login' %} " style="text-decoration: none;">here</a></p>

</div>
{% endblock %}
