{% extends 'starter-page.html' %}
{% load static %}

{% block main %}
<main class="main d-flex flex-column justify-content-center align-items-center">

    <!-- profile -->
    <div class="row mt-5 container w-100">
        <div class="col-lg-12 w-100">
            <h1 class="text-center">Profile</h1>
            <div class="row mt-5">
                <div class="w-50 col-6">
                <img src="{% static  'assets/img/person/person-m-8.webp' %}" style="width: 300px;height: 300px;">
                
            </div>
            <div class="col-6 d-flex flex-column text-start justify-content-center">
                <p> <span class="fw-bold">Username :</span> {{user.username}}</p>
                <p><span class="fw-bold">Name :</span> {{user.first_name}}</p>
                <p><span class="fw-bold">Email :</span> {{user.email}}</p>
                <div>
                    
                    <a href="{% url 'create' %}" class="btn btn-primary">Add Blog</a>
                    <a href="#" class="btn btn-primary">Update Profile</a>
                </div>

            </div>
            </div>
        </div>

    </div>
    <!-- end profile  -->
    <!-- Page Title -->
    <div class="page-title">

        <nav class="breadcrumbs">
            <div class="container">
                <ol>
                    <li><a href="index.html">Home</a></li>
                    <li class="current">Blog</li>
                </ol>
            </div>
        </nav>
    </div><!-- End Page Title -->







    <!-- Blog Posts Section -->
 
    <section id="blog-posts" class="blog-posts section">

        <div class="container" data-aos="fade-up" data-aos-delay="100">

            <div class="row">

                <div class="col-lg-12" data-aos="fade-up" data-aos-delay="100">
                    {% for i in blog %}
                    <article class="featured-post">
                        <div class="featured-img">
                            <img src="{{ i.blog_pic.url }}" alt="" class="img-fluid" loading="lazy">
                            <!-- <img src="{% static  'assets/img/blog/blog-post-7.webp' %}" alt="" class="img-fluid" loading="lazy"> -->
                            <div class="featured-badge">Featured</div>
                        </div>

                        <div class="featured-content">
                            <div class="post-header">
                                <a href="#" class="category">Technology</a>
                                <span class="post-date">{{i.added_date}}</span>
                            </div>

                            <h2 class="post-title">
                                <a href="#">{{i.title}}</a>
                            </h2>

                            <p class="post-excerpt">
                                {{i.content}}
                            </p>

                            <div class="post-footer">
                                <div class="author-info">
                                    <img src="{% static  'assets/img/person/person-m-8.webp' %}" alt=""
                                        class="author-avatar">
                                    <div class="author-details">
                                        <span class="author-name">{{i.user_id}}</span>
                                        <span class="read-time">5 min read</span>
                                    </div>
                                </div>
                                <a href="#" class="read-more">Read More</a>
                                <div>
                                    <a href="" class="btn btn-info">Update</a>
                                    <a href="{% url 'delete' i.id %}" class="btn btn-danger">Delete</a>
                                </div>
                            </div>
                        </div>
                    </article>
                    {% endfor %}
                </div><!-- End featured post -->



            </div>

        </div>

    </section><!-- /Blog Posts Section -->

    <!-- Blog Pagination Section -->
    <section id="blog-pagination" class="blog-pagination section">

        <div class="container">
            <div class="d-flex justify-content-center">
                <ul>
                    <li><a href="#"><i class="bi bi-chevron-left"></i></a></li>
                    <li><a href="#">1</a></li>
                    <li><a href="#" class="active">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li>...</li>
                    <li><a href="#">10</a></li>
                    <li><a href="#"><i class="bi bi-chevron-right"></i></a></li>
                </ul>
            </div>
        </div>

    </section><!-- /Blog Pagination Section -->

</main>
{% endblock %}